<div class="container-produtos">
    <h1>Conheça um pouco da nossa <span>fabricação</span></h1>
    <div class="image-text">
        <img src="/assets/LandingPageMiria/PRODUO/7.png" alt="">
        
    </div>
    <p>montagem dos kits raspadinhas </p>

    <div class="image-text">
        <img src="/assets/LandingPageMiria/PRODUO/6.png" alt="">
        
    </div>
    <p>kits prontos para próxima etapa </p>
    <div class="image-text">
        <img src="/assets/LandingPageMiria/PRODUO/5.png" alt="">
        
    </div>
    <p>Um dos estoques de blister </p>
    <div class="image-text">
        <img src="/assets/LandingPageMiria/PRODUO/4.png" alt="">
        
    </div>

    <p>Banca para montagem de kits de brincos</p>
    <div class="image-text">
        <img src="/assets/LandingPageMiria/PRODUO/3.png" alt="">
        
    </div>
    <p>Um dos setores de montagem dos produtos</p>
</div>