<div class="container">
    <h1>FAQ</h1>
    <div  ngbAccordion>
        <div class ="teste" ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button  ngbAccordionButton>Qual o mínimo de compra?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Nosso mínimo de compra é R$1000,00.</ng-template>
            </div>
          </div>
        </div>
      </div>
      
      <div ngbAccordion>
        <div class ="teste" ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Precisa de CNPJ para comprar?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Não.</ng-template>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordion>
        <div class ="teste" ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Vocês são fabricantes?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Sim, fabricamos todos os nossos produtos.</ng-template>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordion>
        <div class ="teste" ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Como funciona o frete? </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Cotamos o frete de acordo com cada localidade, e transportadoras disponíveis.</ng-template>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordion>
        <div  class ="teste" ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Como faço para ter acesso aos preços? </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template class="content">É só clicar no botão do WhatsApp e conversar com um dos nossos atendentes.</ng-template>
            </div>
          </div>
        </div>
      </div>

      <button class="button"><a href="https://wa.me/+5537998029780?text=Gostaria%20de%20saber%20os%20pre%C3%A7os%20dos%20kits%20para%20revendedores">EU QUERO LUCRAR MUITO!</a></button>
      <p class="Lead">Clique e converse com um de nossos atendentes</p>
</div>