<div class="container">
    <h1>FAQ</h1>
    <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta 1</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Content for the first item</ng-template>
            </div>
          </div>
        </div>
      </div>
      
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta 1</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Content for the first item</ng-template>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta 1</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Content for the first item</ng-template>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta 1</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Content for the first item</ng-template>
            </div>
          </div>
        </div>
      </div>
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Pergunta 1</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template class="content">Content for the first item</ng-template>
            </div>
          </div>
        </div>
      </div>

      <button class="button"><a>Quero fazer um orçamento</a></button>
</div>