.container-depo {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items: center;
}

h1 {
    width: 100%;
    font-family: 'black';
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.2em;
}

span {
    color: green;
}

p {
    width: 100%;
    font-family: 'black';
    text-align: center;
    font-weight: bold;
    color: #DAA520;
    font-size: 2.2em;
}

h2 {
    width: 100%;
    font-family: 'black';
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.2em;
}

h3 {
    font-family: 'black';
    text-align: center;
    font-weight: bold;
    color: #fbfaf9;
    font-size: 2.2em;
}

.depoimentos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 80%;
    height: 90px;
    background-color: #2db52d;
    border-radius: 10px;


}

button:hover {
    background-color: #DAA520;
}

button>a {
    color: white;
    font-size: 1.7em;
    font-family: 'black';
}

.Depoimento {
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 1px solid black;
    background-image: url('/assets/LandingPageMiria/teste.jpg');
    margin-top: 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.barra {
    border: 1px solid black;
    margin-top: 5px;
}

.Lead {
    color: white;
    margin-top: 10px;
    font-size: 1em;
    font-family: 'arial'
}

@media screen and (max-width: 480px) {
    .container {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 1200px;
        align-items: center;

    }

    h1 {
        width: 100%;
        font-family: 'black';
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 2.2em;
    }

    strong {
        color: #2db52d;
        font-size: 1.5em;
    }

    p {
        width: 100%;
        font-family: 'black';
        text-align: center;
        font-weight: bold;
        color: #DAA520;
        font-size: 2.2em;
    }

    h2 {
        width: 100%;
        font-family: 'black';
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 2.2em;
    }

    h3 {
        font-family: 'black';
        text-align: center;
        font-weight: bold;
        color: #fbfaf9;
        font-size: 2.2em;
    }

    .depoimentos {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 90%;
        height: 80PX;
        padding: 5px;
        background-color: #2db52d;
        border-radius: 10px;
        margin-bottom: 4px;
       

    }

    button:hover {
        background-color: #DAA520;
    }

    button>a {
        color: white;
        font-size: 1.5em;
        font-family: 'black';
    }

    .Depoimento {
        width: 250px;
        height: 400px;
        margin: 20px;
        border: 1px solid black;
        background-image: url('/assets/LandingPageMiria/teste.jpg');
        margin-top: 0px;
        background-size: 100% auto;
        margin-top: 0px;
    }

    .barra {
        border: 1px solid black;
        margin-top: 5px;
    }

    .Lead {
        color: white;
        text-align: center;
        margin-top:10px;
        font-size: 1em;
    }

}