<div class="container-depo">

    <h1><strong>+ DE</strong> 5000</h1>
       <p>REVENDEDORES </p>
        <h2>LUCRAM COM NOSSOS</h2>  
            <h3>PRODUTOS</h3>
    <div class="depoimentos">
        <div class="Depoimento">
            
        </div>
    </div>
    <button><a href="https://wa.me/+5537998029780?text=Gostaria%20de%20saber%20os%20pre%C3%A7os%20dos%20kits%20para%20revendedores">EU QUERO LUCRAR MUITO!</a></button>
    <p class="Lead">Clique e converse com um de nossos atendentes</p>
    <div class="barra"></div>
</div>