<div class="container">


    <h1>SOMOS FABRICANTES DE PRODUTOS PARA</h1>
    <h2 class="revendedores"> REVENDEDORES</h2>
        

    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of slides">
            <img class="image" [src]="slide.image" alt="Slide">
        </ng-template>
    </ngb-carousel>

    <h1>NOS CHAME NO<span> WHATSAPP</span> SE DESEJA</h1>
    <h2><span class="lucro">LUCRAR</span> 300%!</h2>

    <button><a>EU QUERO LUCRAR MUITO!</a></button>
    <p class = "texto-1">Clique e converse com um de nossos atendentes</p>
</div>