<div class="container">


    <h1>Somos Fabricantes de produtos Para</h1>
    <h2> Revendedores</h2>
        

    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slide of slides">
            <img class="image" [src]="slide.image" alt="Slide">
        </ng-template>
    </ngb-carousel>

    <h1>Nos chame no <span>whatssapp</span> se deseja</h1>
    <h2><span class="lucro">Lucrar</span> pelo menos 300%!</h2>

    <button><a>Eu quero lucrar Muito!</a></button>
    <p>Clique e converse com um de nossos atendentes</p>
</div>